
.logowrap.collapsed{padding: 0; transition: 0.3s;}
.logowrap .little-toggler{
	position: absolute; padding: 0 10px 5px 10px; background: inherit;
	border-radius: 0 0 50% 50%;
	top: 100%;
	left: 50%;
	transform: translate(-50%,0);
	min-height: calc(1rem + 5px);
	color: white;
	z-index: 90;
}
.logowrap .little-toggler i{transition: all 0.6s;}

@media (max-width: 320px){

}
@media (max-width: 667px){
	.btnleftmenu {
		margin-top: 70px;
	}
	/*home*/
	.top-wrap{
		position: fixed;
		z-index: 9999;
		top: 0px;
		background: transparent;
	}
	#login-nav ul{
		width: 50%;
		float: left;
		text-align:center;
		margin: 0px;
	}

	#login-nav ul li a{
		border: none !important;
	}
	.logo-left{
		text-align: center;
		display: none;
	}

	.spprofileslabel{
		text-align: left;
	}
	.proformtext,.profimg-img,.proimg-right{
		width: 100%;
	}
	h1.page-header{
		font-size: 23px;
	}
	.paginationwrapinner{
		text-align: center;
	}
	.spaccidenttitle{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.logowrap{
		background:rgba(58,58,58,.8);
		padding: 1rem 0px 1rem 0px;
		height: fit-content;
	}
	
	.logos{
		margin-top: 0px;
	}
	.logos ul li{
		width: 16.666667%;
	    float: left;
	    margin-left: 0px;
	    margin-right: 0px;
	    padding: 0px 2px;
	}
	.logos ul li img{
		width: 7vw !important;
	}
	#mobilehomelinkwrap{
		background:rgba(0,0,0,.7);
	}
	/*login*/
	.txtlogin, .txtpassword, .txtfname, .txtlname, .txtemail, #province_id, #municipality_id, .txtusername{
		border-radius: 15px;
	}
	.btnlogindef{
		border-radius: 15px;
	}
	#login{
		margin-top: 15%;
	}
	/*********DASHBOARD*********/
	.dashboardpanel{
		margin-top: 0px;
	}
	.dashboard-3-column{
		padding-left: 0px;
		padding-right: 0px;
	}
	.perpublished-wrap span,.ataglance li{
		width: 100%;
	}
	/**********Hydromet Monitor*****************/
	.filtertable select{
		border-radius: 15px;
		height: 40px;
	}
	.filtersensor{		
		margin-top: 7px;
		padding: 0px;
		margin-bottom: 7px;
	}
	.filtersensor select{
		border-radius: 15px;
		height: 40px;
	}
	.searchhydro{
		padding: 0px;
	}
	.searchhydro #basic-addon1{
		display: none;
	}
	.searchhydro .input-group{
		width: 100%;		
	}
	.searchhydro .input-group .form-control{
		height: 40px;
		border-radius: 15px;
	}
	.per-inputhydrometfilter select{
		width: 100%;
		margin-bottom: 10px;
	}
	.per-inputhydrometfilter>div{
		width: 100%;
		margin-bottom: 10px;
	}
	.per-inputhydrometfilter .btn-filter{
		width: 100%;
	}
	.tbldashboard tbody tr td:nth-child(n+6):nth-child(-n+11),.tbldashboard thead tr th:nth-child(n+6):nth-child(-n+11){
		display: none;
	}
	.tbldashboard tbody tr td:nth-child(4),.tbldashboard thead tr th:nth-child(4){
		display: none;
	}
	/***************Landslide Monitor*****************/
	#dashboardtables_wrapper{
		float: left;
	}
	.tbl-landslides thead th:nth-child(n+3):nth-child(-n+6),.tbl-landslides tbody tr td:nth-child(n+3):nth-child(-n+7){
		display: none;
	}
	.tbl-landslides thead th:nth-child(n+7):nth-child(-n+11),.tbl-landslides tbody tr td:nth-child(n+7):nth-child(-n+11){
		display: none;
	}
	.btnadd-location, .btn-deleteselected{
		width: 100%;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.ulpaginations>div{
		padding-left: 0px;
		padding-right: 0px;
	}
	/***************Flood Monitor*****************/
	.tbl-floods thead th:nth-child(n+3):nth-child(-n+7),.tbl-floods tbody tr td:nth-child(n+3):nth-child(-n+7){
		display: none;
	}
	/*legends*/
	#homepagelegend{
		width: 100%;
		right: 0px;
		bottom: 60px;
	}
	.contourlegends li{
		float: left;
		width: 20%;
		padding: 0px 3px;
		font-size: 12px;
	}
	.contourlegends li span{
		float: none !important;
		display: block  !important;
		font-size: 9px !important;
	}
	.sensorlegends li{
		float: left;
		width: 33.3333%;
	}
	.sensorlegends li:first-child{
		width: 47%;
	}
	.sensorlegends li:nth-child(2){
		width: 30%;
	}
	.sensorlegends li:nth-child(3){
		width: 23%;
	}
	.sensorlegends li span{
		margin-right: 0px;
	}
	.hazardmaplegends li span{
		width: 15px;
		height: 15px;
		margin-right: 3px;
	}
	.hazardmaplegends li{
		width: 25%;
	    float: left;
	    font-size: 12px;
	    line-height: 15px;
	}
	#homepagelegend h2{
		background:rgba(46,53,51,.7);
		font-size: 16;
	}
	.sensorlegends, .hazardmaplegends, .contourlegends{
		padding: 5px 10px 0px 10px;
		background:rgba(204,204,204,.8);
	}
}
/*mobile iphone*/ 
@media (min-width: 480px) and (max-width: 599px){

}

/*tablet*/
@media (min-width: 600px) and (max-width: 767px){

}
@media(max-width: 767px){
	.logo-right{
		padding-left: 0px;
		margin-top: 5px;
	}
	body.bckclass .logowrap,.navmainmenumobile{
		display: block;
	}
	.nav.navbar-nav.side-nav{
		overflow: initial;
	}
	/*mobile menu*/
	.top-nav.mm-listview{
		padding-left: 0px;
		padding-right: 0px;
	}
	.mm-listview>li:not(.mm-divider):after{
		left: 0px !important;
	}

	#mobilehomelinkwrap li{
		float: left;
		list-style: none !important;
	}
	.mobilenav li{
		float: none;
		display: block;
	}
	.mobilenav li a{
		text-align: left;
	}
	.mobilenav{
		z-index: 9999999999;
	}
	.mobilenav:not( .mm-menu ) {
	   display: none;
	}
	#mobilehomelinkwrap
	{
		background:rgba(0,0,0,.8);
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
		width: 100%;
		height: 40px;
	}
	#mobilehomelinkwrap a
	{
		display: block;
		width: 48px;
		height: 40px;
		padding: 11px;
		position: absolute;
		top: 0;
		right: 0;
	}
	.navmainmenumobile a{
		position: relative !important;
		color: #fff;
	}
	#mobilehomelinkwrap ul{
		float: left;
		width: 100%;
		padding-left: 0px;
	}
	#mobilehomelinkwrap a.stripelink:before,
	#mobilehomelinkwrap a.stripelink:after
	{
		content: '';
		display: block;
		background: #fff;
		height: 2px;
	}
	#mobilehomelinkwrap a.stripelink span
	{
		background: #fff;
		display: block;
		height: 2px;
		margin: 6px 0;
	}
	.mm-opening #mobilehomelinkwrap.mm-page.mm-slideout ul li{
		display: block;
		float: none;
	}
	.mm-opening #mobilehomelinkwrap.mm-page.mm-slideout ul li a{
		position: relative !important;
	}
	.notificationmobile ul{
		list-style: none;
		padding-left: 0px;
		margin-top: 0px;
	}	
	.notificationmobile ul li{
		float: left;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}
	.notificationmobile ul li a{
		color: #333;
	}
	.notificationmobile ul li:last-child{
		text-align: center;
	}
	.notificationmobile ul li.message-footer{
		border-bottom: none;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.loginform{
		background: #000;
	}
	#mobilehomelinkwrap i.fa{
		font-size: 19px;
	}
}
@media(min-width: 768px){
	#wrapper {
	    padding-left: 225px;
	    float: left;
	    width: 100%;
	    top: 65px;
	    position: relative;
	}
	.bckclass .logowrap,.navmainmenumobile{
		display: none;
	}
	.web-view .logowrap{
		display: none;
	}
	.innerbody .logowrap{
		display: block;
	}
}
@media(max-width: 767px){
	#innerNav{
		position: relative;
	}
}
/*ipad laptop*/
@media(min-width: 768px) and (max-width: 1080px){
	.dashboardpanel .dashboard-3-column{
		padding-left: 0px;
		padding-right: 0px;
	}
	h1.page-header{
		font-size: 26px;
	}
	/*map view*/
	.wrap.accord{
		width: 300px;
		top:20px;
	}
	/*monitor*/
	.perinputwrap.dates{
		width: 100%;
	}
	.col-sm-3.perinputwrap{
		width: 50%;
	}
	/*dashboard*/
	.dashboard-3-column:nth-child(2) a,.dashboard-3-column:last-child a{
		font-size: 12px;
	}
	.dshboacol{
		width: 50%;
	}
	.dshboacol:last-child{
		width: 100%;
	}
	.perpublished-wrap span{
		width: 100%;
	}
	/*panels*/
	.navbar-brand{
		font-size: 16px;
	}
	.side-nav{
		width: 160px !important;
		margin-right: 0px !important;
	}
	.side-nav>li>a {
	    width: 160px;
	}
	#wrapper {
	    padding-left: 160px !important;
	    float: left;
	    width: 100%;
	    top: 50px;
	    position: relative;
	}
	.nav.navbar-nav.side-nav li a{
		font-size: 12px;
	}
	.side-nav>li>ul>li>a{
		padding-left: 30px !important
	}
	.dropside .dropdown-menu.fslevel{
		left: 160px;
		top: 0px;
		border-radius: 0px;
		background: #333333;
	}
	
	/*hydromet tabular*/
	.well.legendwell{
		width: 50%;
	}
	.per-inputhydrometfilter select{
		width: 100%;
		margin-bottom: 10px;
	}
	.per-inputhydrometfilter>div{
		width: 100%;
		margin-bottom: 10px;
	}
	.per-inputhydrometfilter .btn-filter{
		width: 100%;
	}
	/*hydromet chart*/
	.chartwrap #perchart{
		width: 100%;
	    border-bottom: 1px solid #eee;
	    padding-bottom: 60px;
	}
}

@media(min-width: 992px) and (max-width: 1169px){
	.nav.navbar-nav.side-nav{
		overflow: initial;
	}
	.dashboardpanel .dashboard-3-column{
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media (min-width: 1170px){
	.nav.navbar-nav.side-nav{
		overflow: initial;
	}
	.dashboardpanel .dashboard-3-column{
		padding-left: 0px;
		padding-right: 0px;
	}
	.wrap.accord{
		width: 350px;
		top: 10px;
	}
	li.message-preview{
		width: 440px !important;
	}
	li.message-preview>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
}
@media(min-width: 1367px){

}

@media(min-width: 1170px) and (max-width: 1366px){
	.ataglance li{
		width: 100%;
	}
	.ataglance ul{
		padding-left: 18px;
	}
}

/* XS BREAKPOINT */
@media (max-width: 576px){
    .col-xs-11 {flex: 0 0 auto;width: 91.66666667%;}
    .col-xs-1{flex: 0 0 auto;width: 8.333333333%;}
    .sm-d-none{display: none; }
    .xs-d-none{display: none; }
    .xs-d-block{display: block !important;}
    .xs-d-flex{display: flex !important;}
    .xs-text-center{text-align: center !important;}
    .xs-text-start{text-align: left !important;}
    .xs-text-end{text-align: right !important;}
	.xs-small-text{font-size: 0.8rem;}
	.xs-medium-text{font-size: 1rem;}
	.xs-big-text{font-size: 1.2rem;}
	.xs-regular-text{font-size: 14px;}
	.xs-small-caps{font-variant: small-caps;}
	.xs-w-10{width: 10% !important;}
	.xs-w-15{width: 15% !important;}
	.xs-w-20{width: 20% !important;}
	.xs-w-25{width: 25% !important;}
	.xs-w-30{width: 30% !important;}
    .xs-w-50{width: 50% !important;}
    .xs-w-75{width: 75% !important;}
    .xs-w-100{width: 100% !important;}
	.xs-h-10{height: 10% !important;}
	.xs-h-15{height: 15% !important;}
	.xs-h-20{height: 20% !important;}
	.xs-h-25{height: 25% !important;}
	.xs-h-30{height: 30% !important;}
    .xs-h-50{height: 50% !important;}
    .xs-h-75{height: 75% !important;}
    .xs-h-100{height: 100% !important;}
    .xs-d-inline-block{display: inline-block !important;}
    .xs-d-inline{display: inline !important;}
    .xs-mx-auto{margin-right:auto !important; margin-left: auto !important;}
    .xs-my-auto{margin-top: auto !important; margin-bottom: auto !important;}
    .xs-m-auto{margin: auto auto !important;}
    .xs-me-0 {margin-right: 0!important;}
    .xs-ms-0 {margin-left: 0!important;}
    .xs-mt-0 {margin-top: 0!important;}
    .xs-mb-0 {margin-bottom: 0!important;}
    .xs-me-1 {margin-right: 0.25rem!important;}
    .xs-me-2 {margin-right: 0.5rem!important;}
    .xs-me-3 {margin-right: 1rem!important;}
    .xs-me-4 {margin-right: 1.5rem!important;}
    .xs-me-5 {margin-right: 3rem!important;}
    .xs-ms-1 {margin-left: 0.25rem!important;}
    .xs-ms-2 {margin-left: 0.5rem!important;}
    .xs-ms-3 {margin-left: 1rem!important;}
    .xs-ms-4 {margin-left: 1.5rem!important;}
    .xs-ms-5 {margin-left: 3rem!important;}
    .xs-mt-1 {margin-top: 0.25rem!important;}
    .xs-mt-2 {margin-top: 0.5rem!important;}
    .xs-mt-3 {margin-top: 1rem!important;}
    .xs-mt-4 {margin-top: 1.5rem!important;}
    .xs-mt-5 {margin-top: 3rem!important;}
    .xs-mb-1 {margin-bottom: 0.25rem!important;}
    .xs-mb-2 {margin-bottom: 0.5rem!important;}
    .xs-mb-3 {margin-bottom: 1rem!important;}
    .xs-mb-4 {margin-bottom: 1.5rem!important;}
    .xs-mb-5 {margin-bottom: 3rem!important;}
    .xs-m-1 {margin: 0.25rem!important;}
    .xs-m-2 {margin: 0.5rem!important;}
    .xs-m-3 {margin: 1rem!important;}
    .xs-m-4 {margin: 1.5rem!important;}
    .xs-m-5 {margin: 3rem!important;}
	
	.xs-px-auto{padding-right:auto !important; margin-left: auto !important;}
    .xs-py-auto{padding-top: auto !important; margin-bottom: auto !important;}
	.xs-px-0 {padding-left: 0 !important; padding-right: 0 !important;}
	.xs-py-0 {padding-top: 0 !important; padding-bottom: 0 !important;}
	.xs-px-1 {padding: 0 0.25rem!important;}
	.xs-px-2 {padding: 0 0.5rem!important;}
	.xs-px-3 {padding: 0 1rem!important;}
	.xs-px-4 {padding: 0 1.5rem!important;}
	.xs-px-5 {padding: 0 3rem!important;}
	.xs-py-1 {padding: 0.25rem 0 !important;}
	.xs-py-2 {padding: 0.5rem 0 !important;}
	.xs-py-3 {padding: 1rem 0 !important;}
	.xs-py-4 {padding: 1.5rem 0 !important;}
	.xs-py-5 {padding: 3rem 0 !important;}
    .xs-p-auto{padding: auto auto !important;}
    .xs-pe-0 {padding-right: 0!important;}
    .xs-ps-0 {padding-left: 0!important;}
    .xs-pt-0 {padding-top: 0!important;}
    .xs-pb-0 {padding-bottom: 0!important;}
    .xs-pe-1 {padding-right: 0.25rem!important;}
    .xs-pe-2 {padding-right: 0.5rem!important;}
    .xs-pe-3 {padding-right: 1rem!important;}
    .xs-pe-4 {padding-right: 1.5rem!important;}
    .xs-pe-5 {padding-right: 3rem!important;}
    .xs-ps-1 {padding-left: 0.25rem!important;}
    .xs-ps-2 {padding-left: 0.5rem!important;}
    .xs-ps-3 {padding-left: 1rem!important;}
    .xs-ps-4 {padding-left: 1.5rem!important;}
    .xs-ps-5 {padding-left: 3rem!important;}
    .xs-pt-1 {padding-top: 0.25rem!important;}
    .xs-pt-2 {padding-top: 0.5rem!important;}
    .xs-pt-3 {padding-top: 1rem!important;}
    .xs-pt-4 {padding-top: 1.5rem!important;}
    .xs-pt-5 {padding-top: 3rem!important;}
    .xs-pb-1 {padding-bottom: 0.25rem!important;}
    .xs-pb-2 {padding-bottom: 0.5rem!important;}
    .xs-pb-3 {padding-bottom: 1rem!important;}
    .xs-pb-4 {padding-bottom: 1.5rem!important;}
    .xs-pb-5 {padding-bottom: 3rem!important;}
    .xs-p-1 {padding: 0.25rem!important;}
    .xs-p-2 {padding: 0.5rem!important;}
    .xs-p-3 {padding: 1rem!important;}
    .xs-p-4 {padding: 1.5rem!important;}
    .xs-p-5 {padding: 3rem!important;}
}
/* SM BREAKPOINT */
@media (min-width: 576px){	
    .sm-d-none{display: none; }
    .sm-d-block{display: block !important;}
    .sm-d-flex{display: flex !important;}
    .sm-text-center{text-align: center !important;}
    .sm-text-start{text-align: left !important;}
    .sm-text-end{text-align: right !important;}
	.sm-small-text{font-size: 0.8rem;}
	.sm-medium-text{font-size: 1rem;}
	.sm-big-text{font-size: 1.2rem;}
	.sm-regular-text{font-size: 14px;}
	.sm-small-caps{font-variant: small-caps;}
	.sm-w-10{width: 10% !important;}
	.sm-w-15{width: 15% !important;}
	.sm-w-20{width: 20% !important;}
	.sm-w-25{width: 25% !important;}
	.sm-w-30{width: 30% !important;}
    .sm-w-50{width: 50% !important;}
    .sm-w-75{width: 75% !important;}
    .sm-w-100{width: 100% !important;}
	.sm-h-10{height: 10% !important;}
	.sm-h-15{height: 15% !important;}
	.sm-h-20{height: 20% !important;}
	.sm-h-25{height: 25% !important;}
	.sm-h-30{height: 30% !important;}
    .sm-h-50{height: 50% !important;}
    .sm-h-75{height: 75% !important;}
    .sm-h-100{height: 100% !important;}
    .sm-d-inline-block{display: inline-block !important;}
    .sm-d-inline{display: inline !important;}
    .sm-mx-auto{margin-right:auto !important; margin-left: auto !important;}
    .sm-my-auto{margin-top: auto !important; margin-bottom: auto !important;}
    .sm-m-auto{margin: auto auto !important;}
    .sm-me-0 {margin-right: 0!important;}
    .sm-ms-0 {margin-left: 0!important;}
    .sm-mt-0 {margin-top: 0!important;}
    .sm-mb-0 {margin-bottom: 0!important;}
    .sm-me-1 {margin-right: 0.25rem!important;}
    .sm-me-2 {margin-right: 0.5rem!important;}
    .sm-me-3 {margin-right: 1rem!important;}
    .sm-me-4 {margin-right: 1.5rem!important;}
    .sm-me-5 {margin-right: 3rem!important;}
    .sm-ms-1 {margin-left: 0.25rem!important;}
    .sm-ms-2 {margin-left: 0.5rem!important;}
    .sm-ms-3 {margin-left: 1rem!important;}
    .sm-ms-4 {margin-left: 1.5rem!important;}
    .sm-ms-5 {margin-left: 3rem!important;}
    .sm-mt-1 {margin-top: 0.25rem!important;}
    .sm-mt-2 {margin-top: 0.5rem!important;}
    .sm-mt-3 {margin-top: 1rem!important;}
    .sm-mt-4 {margin-top: 1.5rem!important;}
    .sm-mt-5 {margin-top: 3rem!important;}
    .sm-mb-1 {margin-bottom: 0.25rem!important;}
    .sm-mb-2 {margin-bottom: 0.5rem!important;}
    .sm-mb-3 {margin-bottom: 1rem!important;}
    .sm-mb-4 {margin-bottom: 1.5rem!important;}
    .sm-mb-5 {margin-bottom: 3rem!important;}
    .sm-m-1 {margin: 0.25rem!important;}
    .sm-m-2 {margin: 0.5rem!important;}
    .sm-m-3 {margin: 1rem!important;}
    .sm-m-4 {margin: 1.5rem!important;}
    .sm-m-5 {margin: 3rem!important;}

	.sm-px-auto{padding-right:auto !important; margin-left: auto !important;}
    .sm-py-auto{padding-top: auto !important; margin-bottom: auto !important;}
	.sm-px-0 {padding-left: 0 !important; padding-right: 0 !important;}
	.sm-py-0 {padding-top: 0 !important; padding-bottom: 0 !important;}
	.sm-px-1 {padding: 0 0.25rem!important;}
	.sm-px-2 {padding: 0 0.5rem!important;}
	.sm-px-3 {padding: 0 1rem!important;}
	.sm-px-4 {padding: 0 1.5rem!important;}
	.sm-px-5 {padding: 0 3rem!important;}
	.sm-py-1 {padding: 0.25rem 0 !important;}
	.sm-py-2 {padding: 0.5rem 0 !important;}
	.sm-py-3 {padding: 1rem 0 !important;}
	.sm-py-4 {padding: 1.5rem 0 !important;}
	.sm-py-5 {padding: 3rem 0 !important;}
    .sm-p-auto{padding: auto auto !important;}
    .sm-pe-0 {padding-right: 0!important;}
    .sm-ps-0 {padding-left: 0!important;}
    .sm-pt-0 {padding-top: 0!important;}
    .sm-pb-0 {padding-bottom: 0!important;}
    .sm-pe-1 {padding-right: 0.25rem!important;}
    .sm-pe-2 {padding-right: 0.5rem!important;}
    .sm-pe-3 {padding-right: 1rem!important;}
    .sm-pe-4 {padding-right: 1.5rem!important;}
    .sm-pe-5 {padding-right: 3rem!important;}
    .sm-ps-1 {padding-left: 0.25rem!important;}
    .sm-ps-2 {padding-left: 0.5rem!important;}
    .sm-ps-3 {padding-left: 1rem!important;}
    .sm-ps-4 {padding-left: 1.5rem!important;}
    .sm-ps-5 {padding-left: 3rem!important;}
    .sm-pt-1 {padding-top: 0.25rem!important;}
    .sm-pt-2 {padding-top: 0.5rem!important;}
    .sm-pt-3 {padding-top: 1rem!important;}
    .sm-pt-4 {padding-top: 1.5rem!important;}
    .sm-pt-5 {padding-top: 3rem!important;}
    .sm-pb-1 {padding-bottom: 0.25rem!important;}
    .sm-pb-2 {padding-bottom: 0.5rem!important;}
    .sm-pb-3 {padding-bottom: 1rem!important;}
    .sm-pb-4 {padding-bottom: 1.5rem!important;}
    .sm-pb-5 {padding-bottom: 3rem!important;}
    .sm-p-1 {padding: 0.25rem!important;}
    .sm-p-2 {padding: 0.5rem!important;}
    .sm-p-3 {padding: 1rem!important;}
    .sm-p-4 {padding: 1.5rem!important;}
    .sm-p-5 {padding: 3rem!important;}
}
/* MD BREAKPOINT */
@media screen and (min-width: 768px) {
    /* .sm-d-none{display: block; } */
    .md-d-none{display: none !important;}
    .md-d-block{display: block !important;}
    .md-d-flex{display: flex !important;}
    .md-text-center{text-align: center !important;}
    .md-text-start{text-align: left !important;}
    .md-text-end{text-align: right !important;}
	.md-small-text{font-size: 0.8rem;}
	.md-medium-text{font-size: 1rem;}
	.md-big-text{font-size: 1.2rem;}
	.md-regular-text{font-size: 14px;}
	.md-small-caps{font-variant: small-caps;}
	.md-w-10{width: 10% !important;}
	.md-w-15{width: 15% !important;}
	.md-w-20{width: 20% !important;}
	.md-w-25{width: 25% !important;}
	.md-w-30{width: 30% !important;}
    .md-w-50{width: 50% !important;}
    .md-w-75{width: 75% !important;}
    .md-w-100{width: 100% !important;}
	.md-h-10{height: 10% !important;}
	.md-h-15{height: 15% !important;}
	.md-h-20{height: 20% !important;}
	.md-h-25{height: 25% !important;}
	.md-h-30{height: 30% !important;}
    .md-h-50{height: 50% !important;}
    .md-h-75{height: 75% !important;}
    .md-h-100{height: 100% !important;}
    .md-d-inline-block{display: inline-block !important;}
    .md-d-inline{display: inline !important;}
    .md-mx-auto{margin-right:auto !important; margin-left: auto !important;}
    .md-my-auto{margin-top: auto !important; margin-bottom: auto !important;}
    .md-m-auto{margin: auto auto !important;}
    .md-me-0 {margin-right: 0!important;}
    .md-ms-0 {margin-left: 0!important;}
    .md-mt-0 {margin-top: 0!important;}
    .md-mb-0 {margin-bottom: 0!important;}
    .md-me-1 {margin-right: 0.25rem!important;}
    .md-me-2 {margin-right: 0.5rem!important;}
    .md-me-3 {margin-right: 1rem!important;}
    .md-me-4 {margin-right: 1.5rem!important;}
    .md-me-5 {margin-right: 3rem!important;}
    .md-ms-1 {margin-left: 0.25rem!important;}
    .md-ms-2 {margin-left: 0.5rem!important;}
    .md-ms-3 {margin-left: 1rem!important;}
    .md-ms-4 {margin-left: 1.5rem!important;}
    .md-ms-5 {margin-left: 3rem!important;}
    .md-mt-1 {margin-top: 0.25rem!important;}
    .md-mt-2 {margin-top: 0.5rem!important;}
    .md-mt-3 {margin-top: 1rem!important;}
    .md-mt-4 {margin-top: 1.5rem!important;}
    .md-mt-5 {margin-top: 3rem!important;}
    .md-mb-1 {margin-bottom: 0.25rem!important;}
    .md-mb-2 {margin-bottom: 0.5rem!important;}
    .md-mb-3 {margin-bottom: 1rem!important;}
    .md-mb-4 {margin-bottom: 1.5rem!important;}
    .md-mb-5 {margin-bottom: 3rem!important;}
    .md-m-1 {margin: 0.25rem!important;}
    .md-m-2 {margin: 0.5rem!important;}
    .md-m-3 {margin: 1rem!important;}
    .md-m-4 {margin: 1.5rem!important;}
    .md-m-5 {margin: 3rem!important;}

	.md-px-auto{padding-right:auto !important; margin-left: auto !important;}
    .md-py-auto{padding-top: auto !important; margin-bottom: auto !important;}
	.md-px-0 {padding-left: 0 !important; padding-right: 0 !important;}
	.md-py-0 {padding-top: 0 !important; padding-bottom: 0 !important;}
	.md-px-1 {padding: 0 0.25rem!important;}
	.md-px-2 {padding: 0 0.5rem!important;}
	.md-px-3 {padding: 0 1rem!important;}
	.md-px-4 {padding: 0 1.5rem!important;}
	.md-px-5 {padding: 0 3rem!important;}
	.md-py-1 {padding: 0.25rem 0 !important;}
	.md-py-2 {padding: 0.5rem 0 !important;}
	.md-py-3 {padding: 1rem 0 !important;}
	.md-py-4 {padding: 1.5rem 0 !important;}
	.md-py-5 {padding: 3rem 0 !important;}
    .md-p-auto{padding: auto auto !important;}
    .md-pe-0 {padding-right: 0!important;}
    .md-ps-0 {padding-left: 0!important;}
    .md-pt-0 {padding-top: 0!important;}
    .md-pb-0 {padding-bottom: 0!important;}
    .md-pe-1 {padding-right: 0.25rem!important;}
    .md-pe-2 {padding-right: 0.5rem!important;}
    .md-pe-3 {padding-right: 1rem!important;}
    .md-pe-4 {padding-right: 1.5rem!important;}
    .md-pe-5 {padding-right: 3rem!important;}
    .md-ps-1 {padding-left: 0.25rem!important;}
    .md-ps-2 {padding-left: 0.5rem!important;}
    .md-ps-3 {padding-left: 1rem!important;}
    .md-ps-4 {padding-left: 1.5rem!important;}
    .md-ps-5 {padding-left: 3rem!important;}
    .md-pt-1 {padding-top: 0.25rem!important;}
    .md-pt-2 {padding-top: 0.5rem!important;}
    .md-pt-3 {padding-top: 1rem!important;}
    .md-pt-4 {padding-top: 1.5rem!important;}
    .md-pt-5 {padding-top: 3rem!important;}
    .md-pb-1 {padding-bottom: 0.25rem!important;}
    .md-pb-2 {padding-bottom: 0.5rem!important;}
    .md-pb-3 {padding-bottom: 1rem!important;}
    .md-pb-4 {padding-bottom: 1.5rem!important;}
    .md-pb-5 {padding-bottom: 3rem!important;}
    .md-p-1 {padding: 0.25rem!important;}
    .md-p-2 {padding: 0.5rem!important;}
    .md-p-3 {padding: 1rem!important;}
    .md-p-4 {padding: 1.5rem!important;}
    .md-p-5 {padding: 3rem!important;}
}
/* LG BREAKPOINT */
@media screen and (min-width: 992px) {
    .lg-d-none{display: none !important;}
    .lg-d-block{display: block !important;}
    .lg-d-flex{display: flex !important;}
    .lg-text-center{text-align: center !important;}
    .lg-text-start{text-align: left !important;}
    .lg-text-end{text-align: right !important;}
	.lg-small-text{font-size: 0.8rem;}
	.lg-medium-text{font-size: 1rem;}
	.lg-big-text{font-size: 1.2rem;}
	.lg-regular-text{font-size: 14px;}
	.lg-small-caps{font-variant: small-caps;}
	.lg-w-10{width: 10% !important;}
	.lg-w-15{width: 15% !important;}
	.lg-w-20{width: 20% !important;}
	.lg-w-25{width: 25% !important;}
	.lg-w-30{width: 30% !important;}
    .lg-w-50{width: 50% !important;}
    .lg-w-75{width: 75% !important;}
    .lg-w-100{width: 100% !important;}
	.lg-h-10{height: 10% !important;}
	.lg-h-15{height: 15% !important;}
	.lg-h-20{height: 20% !important;}
	.lg-h-25{height: 25% !important;}
	.lg-h-30{height: 30% !important;}
    .lg-h-50{height: 50% !important;}
    .lg-h-75{height: 75% !important;}
    .lg-h-100{height: 100% !important;}
    .lg-d-inline-block{display: inline-block !important;}
    .lg-d-inline{display: inline !important;}
    .lg-mx-auto{margin-right:auto !important; margin-left: auto !important;}
    .lg-my-auto{margin-top: auto !important; margin-bottom: auto !important;}
    .lg-m-auto{margin: auto auto !important;}
    .lg-me-0 {margin-right: 0!important;}
    .lg-ms-0 {margin-left: 0!important;}
    .lg-mt-0 {margin-top: 0!important;}
    .lg-mb-0 {margin-bottom: 0!important;}
    .lg-me-1 {margin-right: 0.25rem!important;}
    .lg-me-2 {margin-right: 0.5rem!important;}
    .lg-me-3 {margin-right: 1rem!important;}
    .lg-me-4 {margin-right: 1.5rem!important;}
    .lg-me-5 {margin-right: 3rem!important;}
    .lg-ms-1 {margin-left: 0.25rem!important;}
    .lg-ms-2 {margin-left: 0.5rem!important;}
    .lg-ms-3 {margin-left: 1rem!important;}
    .lg-ms-4 {margin-left: 1.5rem!important;}
    .lg-ms-5 {margin-left: 3rem!important;}
    .lg-mt-1 {margin-top: 0.25rem!important;}
    .lg-mt-2 {margin-top: 0.5rem!important;}
    .lg-mt-3 {margin-top: 1rem!important;}
    .lg-mt-4 {margin-top: 1.5rem!important;}
    .lg-mt-5 {margin-top: 3rem!important;}
    .lg-mb-1 {margin-bottom: 0.25rem!important;}
    .lg-mb-2 {margin-bottom: 0.5rem!important;}
    .lg-mb-3 {margin-bottom: 1rem!important;}
    .lg-mb-4 {margin-bottom: 1.5rem!important;}
    .lg-mb-5 {margin-bottom: 3rem!important;}
    .lg-m-1 {margin: 0.25rem!important;}
    .lg-m-2 {margin: 0.5rem!important;}
    .lg-m-3 {margin: 1rem!important;}
    .lg-m-4 {margin: 1.5rem!important;}
    .lg-m-5 {margin: 3rem!important;}

	.lg-px-auto{padding-right:auto !important; margin-left: auto !important;}
    .lg-py-auto{padding-top: auto !important; margin-bottom: auto !important;}
	.lg-px-0 {padding-left: 0 !important; padding-right: 0 !important;}
	.lg-py-0 {padding-top: 0 !important; padding-bottom: 0 !important;}
	.lg-px-1 {padding: 0 0.25rem!important;}
	.lg-px-2 {padding: 0 0.5rem!important;}
	.lg-px-3 {padding: 0 1rem!important;}
	.lg-px-4 {padding: 0 1.5rem!important;}
	.lg-px-5 {padding: 0 3rem!important;}
	.lg-py-1 {padding: 0.25rem 0 !important;}
	.lg-py-2 {padding: 0.5rem 0 !important;}
	.lg-py-3 {padding: 1rem 0 !important;}
	.lg-py-4 {padding: 1.5rem 0 !important;}
	.lg-py-5 {padding: 3rem 0 !important;}
    .lg-p-auto{padding: auto auto !important;}
    .lg-pe-0 {padding-right: 0!important;}
    .lg-ps-0 {padding-left: 0!important;}
    .lg-pt-0 {padding-top: 0!important;}
    .lg-pb-0 {padding-bottom: 0!important;}
    .lg-pe-1 {padding-right: 0.25rem!important;}
    .lg-pe-2 {padding-right: 0.5rem!important;}
    .lg-pe-3 {padding-right: 1rem!important;}
    .lg-pe-4 {padding-right: 1.5rem!important;}
    .lg-pe-5 {padding-right: 3rem!important;}
    .lg-ps-1 {padding-left: 0.25rem!important;}
    .lg-ps-2 {padding-left: 0.5rem!important;}
    .lg-ps-3 {padding-left: 1rem!important;}
    .lg-ps-4 {padding-left: 1.5rem!important;}
    .lg-ps-5 {padding-left: 3rem!important;}
    .lg-pt-1 {padding-top: 0.25rem!important;}
    .lg-pt-2 {padding-top: 0.5rem!important;}
    .lg-pt-3 {padding-top: 1rem!important;}
    .lg-pt-4 {padding-top: 1.5rem!important;}
    .lg-pt-5 {padding-top: 3rem!important;}
    .lg-pb-1 {padding-bottom: 0.25rem!important;}
    .lg-pb-2 {padding-bottom: 0.5rem!important;}
    .lg-pb-3 {padding-bottom: 1rem!important;}
    .lg-pb-4 {padding-bottom: 1.5rem!important;}
    .lg-pb-5 {padding-bottom: 3rem!important;}
    .lg-p-1 {padding: 0.25rem!important;}
    .lg-p-2 {padding: 0.5rem!important;}
    .lg-p-3 {padding: 1rem!important;}
    .lg-p-4 {padding: 1.5rem!important;}
    .lg-p-5 {padding: 3rem!important;}
}
/* CUSTOM CSS */
.clearformat{text-decoration: none;transition: all 0.3s; color: inherit;}
#footer-icons{height:60px;position: fixed; bottom: 0; z-index: 1049;width: 100vw; border-top:1px solid rgba(0,0,0,.3)}
.footer-icon{height: 100%; text-align: center; }
.footer-icon span{color: rgba(0,0,0,0.55) !important; transition: 0.3s;}
.footer-icon:hover span{color: rgb(0,0,0) !important;}
.footer-icon:hover{cursor: pointer;}
#footer-cabinet{
	margin-bottom: 60px;
	display: none;}
.whiteblock{ height: 60px;}
.custom-list{
	padding: 5px 0px;
	margin-bottom: 0;
}
.custom-list li{
	border-top: 1px solid rgb(234, 230, 230);
	list-style-type: none;
	padding: 5px;
	line-height: 1.5;
}
.custom-list.action li:hover{
	background-color: rgb(234, 230, 230);
	cursor: pointer;
}



/* DISPLAY */
.d-flex{display: flex !important;}
.d-none{display: none !important;}
/* TYPOGRAPHY */
.strong{font-weight: bolder;}
.small-text{font-size: 0.8rem;}
.medium-text{font-size: 1rem;}
.big-text{font-size: 1.2rem;}
.small-caps{font-variant: small-caps;}
.text-end {text-align: right!important;}
.text-center {text-align: center!important;}
.text-start {text-align: left!important;}
/* BACKGROUNDS */
.bg-white{background-color: white;}
.bg-none{background-color: transparent !important;}

/* BORDERS */
.border-none{border: none;}
.rounded{border-radius: 5px;}

/* POSITIONS */
.pos-a{position: absolute !important;}
.pos-rel{position: relative !important;}
.pos-f{position: fixed !important;}
.pos-br{bottom: 0;right: 0;}
.pos-bl{bottom: 0;left: 0;}
.pos-tr{top: 0;right: 0;}
.pos-tl{top: 0;left: 0;}
.pos-f.centered, .pos-a.centered, .pos-rel.centered{top: 50%; left: 50%; transform: translate(-50%,-50%);}
.pos-f.x-centered, .pos-a.x-centered, .pos-rel.x-centered{left: 50%; transform: translateX(-50%);}
.pos-f.y-centered, .pos-a.y-centered, .pos-rel.y-centered{top: 50%; transform: translateY(-50%);}
.pos-f.t0, .pos-a.t0, .pos-rel.t0{top: 0%;}
.pos-f.r0, .pos-a.r0, .pos-rel.r0{right: 0%;}
.pos-f.l0, .pos-a.l0, .pos-rel.l0{left: 0%;}
.pos-f.b0, .pos-a.b0, .pos-rel.b0{bottom: 0%;}
.top-10{top: 10% !important;}
.top-20{top: 20% !important;}
.top-30{top: 30% !important;}
.bottom-10{bottom: 10% !important;}
.bottom-20{bottom: 20% !important;}
.bottom-30{bottom: 30% !important;}
.left-10{left: 10% !important;}
.left-20{left: 20% !important;}
.left-30{left: 30% !important;}
.right-10{right: 10% !important;}
.right-20{right: 20% !important;}
.right-30{right: 30% !important;}
.float-end{float:right !important;}
.float-start{float:left !important;}
/* SIZING */
.w-10{width: 10% !important;}
.w-15{width: 15% !important;}
.w-20{width: 20% !important;}
.w-25{width: 25% !important;}
.w-30{width: 30% !important;}
.w-50{width: 50% !important;}
.w-75{width: 75% !important;}
.w-100{width: 100% !important;}
.h-10{height: 10% !important;}
.h-15{height: 15% !important;}
.h-20{height: 20% !important;}
.h-25{height: 25% !important;}
.h-30{height: 30% !important;}
.h-50{height: 50% !important;}
.h-75{height: 75% !important;}
.h-100{height: 100% !important;}

/* PADDINGS */
.p-0 {padding: 0 !important;}
.p-1 {padding: 0.25rem!important;}
.p-2 {padding: 0.5rem!important;}
.p-3 {padding: 1rem!important;}
.p-4 {padding: 1.5rem!important;}
.p-5 {padding: 3rem!important;}
.px-auto{padding-right:auto !important; margin-left: auto !important;}
.py-auto{padding-top: auto !important; margin-bottom: auto !important;}
.p-auto{padding: auto auto !important;}
.px-0 {padding-left: 0 !important; padding-right: 0 !important;}
.py-0 {padding-top: 0 !important; padding-bottom: 0 !important;}
.px-1 {padding: 0 0.25rem!important;}
.px-2 {padding: 0 0.5rem!important;}
.px-3 {padding: 0 1rem!important;}
.px-4 {padding: 0 1.5rem!important;}
.px-5 {padding: 0 3rem!important;}
.py-1 {padding: 0.25rem 0 !important;}
.py-2 {padding: 0.5rem 0 !important;}
.py-3 {padding: 1rem 0 !important;}
.py-4 {padding: 1.5rem 0 !important;}
.py-5 {padding: 3rem 0 !important;}
.pe-0 {padding-right: 0!important;}
.ps-0 {padding-left: 0!important;}
.pt-0 {padding-top: 0!important;}
.pb-0 {padding-bottom: 0!important;}
.pe-1 {padding-right: 0.25rem!important;}
.pe-2 {padding-right: 0.5rem!important;}
.pe-3 {padding-right: 1rem!important;}
.pe-4 {padding-right: 1.5rem!important;}
.pe-5 {padding-right: 3rem!important;}
.ps-1 {padding-left: 0.25rem!important;}
.ps-2 {padding-left: 0.5rem!important;}
.ps-3 {padding-left: 1rem!important;}
.ps-4 {padding-left: 1.5rem!important;}
.ps-5 {padding-left: 3rem!important;}
.pt-1 {padding-top: 0.25rem!important;}
.pt-2 {padding-top: 0.5rem!important;}
.pt-3 {padding-top: 1rem!important;}
.pt-4 {padding-top: 1.5rem!important;}
.pt-5 {padding-top: 3rem!important;}
.pb-1 {padding-bottom: 0.25rem!important;}
.pb-2 {padding-bottom: 0.5rem!important;}
.pb-3 {padding-bottom: 1rem!important;}
.pb-4 {padding-bottom: 1.5rem!important;}
.pb-5 {padding-bottom: 3rem!important;}
/* MARGINS */
.mx-auto{margin-right:auto !important; margin-left: auto !important;}
.my-auto{margin-top: auto !important; margin-bottom: auto !important;}
.m-auto{margin: auto auto !important;}
.mx-1 {margin: 0 0.25rem!important;}
.mx-2 {margin: 0 0.5rem!important;}
.mx-3 {margin: 0 1rem!important;}
.mx-4 {margin: 0 1.5rem!important;}
.mx-5 {margin: 0 3rem!important;}
.my-1 {margin: 0.25rem 0 !important;}
.my-2 {margin: 0.5rem 0 !important;}
.my-3 {margin: 1rem 0 !important;}
.my-4 {margin: 1.5rem 0 !important;}
.my-5 {margin: 3rem 0 !important;}
.me-0 {margin-right: 0!important;}
.ms-0 {margin-left: 0!important;}
.mt-0 {margin-top: 0!important;}
.mb-0 {margin-bottom: 0!important;}
.me-1 {margin-right: 0.25rem!important;}
.me-2 {margin-right: 0.5rem!important;}
.me-3 {margin-right: 1rem!important;}
.me-4 {margin-right: 1.5rem!important;}
.me-5 {margin-right: 3rem!important;}
.ms-1 {margin-left: 0.25rem!important;}
.ms-2 {margin-left: 0.5rem!important;}
.ms-3 {margin-left: 1rem!important;}
.ms-4 {margin-left: 1.5rem!important;}
.ms-5 {margin-left: 3rem!important;}
.mt-1 {margin-top: 0.25rem!important;}
.mt-2 {margin-top: 0.5rem!important;}
.mt-3 {margin-top: 1rem!important;}
.mt-4 {margin-top: 1.5rem!important;}
.mt-5 {margin-top: 3rem!important;}
.mb-1 {margin-bottom: 0.25rem!important;}
.mb-2 {margin-bottom: 0.5rem!important;}
.mb-3 {margin-bottom: 1rem!important;}
.mb-4 {margin-bottom: 1.5rem!important;}
.mb-5 {margin-bottom: 3rem!important;}
.m-0 {margin: 0 !important;}
.m-1 {margin: 0.25rem!important;}
.m-2 {margin: 0.5rem!important;}
.m-3 {margin: 1rem!important;}
.m-4 {margin: 1.5rem!important;}
.m-5 {margin: 3rem!important;}

