@media (max-width: 479px){
	.typeahead, .tt-query, .tt-hint {
		height: 30px;
	}
	#main-body {
		margin-top: 57px;
		width: 100%;
	}
	.twitter-typeahead{
	     font-size: 15px;
	}
	.typeahead {
		font-size: 15px;
	}
	#msg {
		font-size: 15px;

	}
}
/*mobile iphone*/ 
@media (min-width: 480px) and (max-width: 599px){
	.typeahead, .tt-query, .tt-hint {
		height: 30px;
	}
	#main-body {
		margin-top: 57px;
		width: 100%;
	}
	.twitter-typeahead{
	     font-size: 15px;
	}
	.typeahead {
		font-size: 15px;
	}
	#msg {
		font-size: 15px;

	}
}
/*tablet*/
@media (min-width: 600px) and (max-width: 767px){
	.typeahead, .tt-query, .tt-hint {
		height: 30px;
	}
	#main-body {
		margin-top: 57px;
		width: 80%;
	}
	.twitter-typeahead{
	     font-size: 15px;
	}
	.typeahead {
		font-size: 15px;
	}
	#msg {
		font-size: 15px;

	}
}
/*ipad laptop*
col-sm-*/
@media(min-width: 768px) and (max-width: 991px){
	.typeahead, .tt-query, .tt-hint {
		height: 40px;
	}
	#main-body {
		margin-top: 57px;
		width: 70%;
	}
	.twitter-typeahead{
	     font-size: 15px;
	}
	.typeahead {
		font-size: 20px;
	}
	#msg {
		font-size: 25px;

	}
}
/*col-md*/
@media(min-width: 992px) and (max-width: 1169px){
	.typeahead, .tt-query, .tt-hint {
		height: 40px;
	}
	#main-body {
		margin-top: 57px;
		width: 60%;
	}
	.twitter-typeahead{
	     font-size: 15px;
	}
	.typeahead {
		font-size: 20px;
	}
	#msg {
		font-size: 25px;
	}
}
/*col-lg*/
@media (min-width: 1170px){
	.typeahead, .tt-query, .tt-hint {
		height: 40px;
	}
	#main-body {
		margin-top: 40px;
		width: 50%;
	}
	.twitter-typeahead{
	     font-size: 15px;
	}
	.typeahead {
		font-size: 20px;
	}
	#msg {
		font-size: 25px;
		height: 13em;
	}
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	/*border-radius: 8px;*/
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	overflow-y: auto;
	width: 100%;
	float: left;
}
.twitter-typeahead{
     width: 100%;
     float: left;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 5px;
	padding: 3px 0;
	width: 100%;
}
.tt-suggestion {
	padding: 3px 10px;
	text-align: left;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
#main-body {
	border-radius: 0.5em;
    background-color: #363940;
    border: 2px solid #363940;
    padding: 0;
    margin: 0;
	width: 100%;
}
#send-msg {
	margin-top: 15px;
	border-radius: 20px;
}
#input-contact {
	padding: 19px;
}
.button-container {
	padding: 19px;
}
#msg {
	border-radius: 0px;
	padding: 17px 19px;
	resize: none;
	height: 100%;
}
.button-container label {
	float: right;
}
.overlay {
    background: rgba(0,0,0,0.8);
    /*display: none;*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}
#progress-send {
	height: 20%;
}
#sending {
    height: 8%;
    z-index: 20;   
}
.char-count {
	float: right;
	margin-right: 19px;
	margin-top: 19px;
	    color: #FFF;
}
#receiver-list {
	float: left;
    margin-top: 10px;
    margin-left: 7px;
    margin-bottom: 17px;
}
#btn-recipient {
	border-radius: 50px;
	height: 29px;
}
.img-settings {
	border-radius: 50px;
}
.contact-name {
	font-size: 15px;
}
.contact-detail {
	margin-top: 6px;
	list-style: none;
	margin-left: -39px;
}

.recipient-dropdown span {
	font-size: 15pt;
}

.select2-selection__choice, .select2-selection__rendered {
	font-size: 14pt;
}

/* layout.css Style */
.upload-drop-zone {
	height: 200px;
	border-width: 2px;
	margin-bottom: 20px;
}
  
/* skin.css Style*/
.upload-drop-zone {
	color: #ccc;
	border-style: dashed;
	border-color: #ccc;
	line-height: 200px;
	text-align: center
}
.upload-drop-zone.drop {
	color: #222;
	border-color: #222;
}